/node_modules/
/.next/
/out/
/coverage/
*.tsbuildinfo
next-env.d.ts
npm-debug.log*
.env*
!.env.example
*.pem

# Editors and IDEs
.vscode/
*.code-workspace
.idea/
*.iml
*.ipr
*.iws
.history/
*.swp
*.swo
*~

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100/
.Trashes/
.fseventsd/
.TemporaryItems/

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/
